<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Huh, what is this page?</h1>
    <p>This is a science fun facts API! To access, simply request with this url followed by /api</p>
  </div>
</div>
<div class="container">
  <p>What?</p>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span>...What does this do again?</h3>
      <ul>
        <li>Wellll, not much now,</li>
        <li>But you should be able to get science fun facts from here</li>
      </ul>
    </div>
  </div> <!-- row -->
</div>


</body>
</html>
